---
import { t } from "../i18n/utils";
const lang = "es";
---

<div class="mx-auto px-6 mb-20 reveal">
  <div class="flex items-center gap-10">
    <span class="block w-30 h-px bg-white/10"></span>

    <span class="text-2xl tracking-[0.7em] uppercase opacity-20">
      {t("section.contact", lang)}
    </span>

    <span class="flex-1 h-px bg-white/10"></span>
  </div>
</div>

<section id="contact" class="reveal mx-auto scroll py-10 mb-40">

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 items-start">

    <!-- Columna editorial -->
    <div>
      <h2 class="font-heading text-5xl md:text-6xl mb-6">
        {t("contact.title", lang)}
      </h2>

      <p class="opacity-70 leading-relaxed mb-6">
        {t("contact.text", lang)}
      </p>

      <!-- Métodos -->
      <div class="flex gap-4 mt-2">
        <a
          href="https://mail.google.com/mail/?view=cm&to=contact@madnessmusicgroup.com"
          target="_blank"
          class="btn-tactical"
        >
          {t("contact.mail.button", lang)}
        </a>

        <a
          href="https://wa.me/528442564688?text=Hola%20MadNess%20Music%20Group"
          target="_blank"
          class="btn-tactical"
        >
          {t("contact.whatsapp", lang)}
        </a>
      </div>
    </div>

    <!-- FORM -->
    <form
      action="https://formspree.io/f/xnjbypyv"
      method="POST"
      class="flex flex-col gap-2"
    >

      <input type="hidden" name="form-name" value="contact" />

      <p class="hidden">
        <label>
          Don’t fill this out:
          <input name="bot-field" />
        </label>
      </p>

      <!-- Nombre -->
      <label
        for="name"
        class="text-xs uppercase tracking-widest opacity-50"
      >
        {t("contact.name.label", lang)}
      </label>

      <input
        id="name"
        name="name"
        type="text"
        placeholder={t("contact.name", lang)}
        required
        class="bg-transparent border-b border-white/20 py-2 mb-10 focus:outline-none focus:border-white transition-colors duration-300"
      />

      <!-- Email -->
      <label
        for="email"
        class="text-xs uppercase tracking-widest opacity-50"
      >
        {t("contact.mail.label", lang)}
      </label>

      <input
        id="email"
        name="email"
        type="email"
        placeholder={t("contact.mail", lang)}
        required
        class="bg-transparent border-b border-white/20 py-2 mb-10 focus:outline-none focus:border-white transition-colors duration-300"
      />

      <!-- Message -->
      <label
        for="message"
        class="text-xs uppercase tracking-widest opacity-50"
      >
        {t("contact.message.label", lang)}
      </label>

      <textarea
        id="message"
        name="message"
        rows="4"
        placeholder={t("contact.message", lang)}
        class="bg-transparent border-b border-white/20 py-2 focus:outline-none resize-none"
      ></textarea>

      <input type="hidden" name="redirect" value="/gracias" />

      <!-- Submit -->
      <button
        type="submit"
        class="btn-tactical self-start flex items-center gap-3 hover:cursor-pointer mt-5"
      >
        <span class="btn-text">
          {t("contact.send", lang)}
        </span>

        <span
          class="btn-loader hidden w-4 h-4 border-2 border-white/40 border-t-white rounded-full animate-spin"
        ></span>
      </button>

    </form>

  </div>
</section>