<div class="mx-auto px-6 mb-20 reveal">
  <div class="flex items-center gap-10">
    <span class="block w-30 h-px bg-white/10"></span>

    <span class="text-2xl tracking-[0.7em] uppercase opacity-20">
      CONTACTO
    </span>

    <span class="flex-1 h-px bg-white/10"></span>
  </div>
</div>

<section id="contact" class="reveal mx-auto scroll py-10 mb-40">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 items-start">
    <div>
      <h2 class="font-heading text-5xl md:text-6xl mb-6">
        Conectemos
      </h2>

      <p class="opacity-70 leading-relaxed mb-6">
        Colaboraciones, propuestas editoriales, prensa o proyectos especiales.
        Cuentanos que tienes en mente.
      </p>

      <div class="flex gap-4 mt-2">
        <a
          href="https://mail.google.com/mail/?view=cm&to=contact@madnessmusicgroup.com"
          target="_blank"
          class="btn-tactical"
        >
          Correo
        </a>

        <a
          href="https://wa.me/528442564688?text=Hola%20MadNess%20Music%20Group"
          target="_blank"
          class="btn-tactical"
        >
          WhatsApp
        </a>
      </div>
    </div>

    <form
      action="https://formspree.io/f/xnjbypyv"
      method="POST"
      class="flex flex-col gap-2"
    >
      <input type="hidden" name="form-name" value="contact" />

      <p class="hidden">
        <label>
          Do not fill this out:
          <input name="bot-field" />
        </label>
      </p>

      <label
        for="name"
        class="text-xs uppercase tracking-widest opacity-50"
      >
        Cual es tu nombre?
      </label>

      <input
        id="name"
        name="name"
        type="text"
        placeholder="Nombre"
        required
        class="bg-transparent border-b border-white/20 py-2 mb-10 focus:outline-none focus:border-white transition-colors duration-300"
      />

      <label
        for="email"
        class="text-xs uppercase tracking-widest opacity-50"
      >
        Cual es tu correo?
      </label>

      <input
        id="email"
        name="email"
        type="email"
        placeholder="Correo"
        required
        class="bg-transparent border-b border-white/20 py-2 mb-10 focus:outline-none focus:border-white transition-colors duration-300"
      />

      <label
        for="message"
        class="text-xs uppercase tracking-widest opacity-50"
      >
        Cuentanos en que podemos ayudarte
      </label>

      <textarea
        id="message"
        name="message"
        rows="4"
        placeholder="Mensaje"
        class="bg-transparent border-b border-white/20 py-2 focus:outline-none resize-none"
      ></textarea>

      <input type="hidden" name="redirect" value="/gracias" />

      <button
        type="submit"
        class="btn-tactical self-start flex items-center gap-3 hover:cursor-pointer mt-5"
      >
        <span class="btn-text">
          Enviar mensaje
        </span>

        <span
          class="btn-loader hidden w-4 h-4 border-2 border-white/40 border-t-white rounded-full animate-spin"
        ></span>
      </button>
    </form>
  </div>
</section>
